.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: rgba(49, 126, 181, 0.89);
  background-image: url('/background.svg');
  background-size: 250px, 250px;
  background-repeat: repeat;
}

.main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(250, 2, 2, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ctas {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.card {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .flexContainer {
    flex-direction: row;
    gap: 20px;
  }

  .card {
    width: calc(50% - 10px); /* Adjust width to fit two cards side by side with gap */
  }
}

.button {
  padding: 14px 32px;
  background-color: #2e7fe1; /* 绿色背景 */
  color: white;
  text-align: center;
  border-radius: 12px; /* 圆角 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影 */
  transition: background-color 0.3s ease; /* 平滑过渡效果 */
}

.button:hover {
  background-color: #45a049; /* 悬停时的颜色 */
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(66, 153, 225, 0.5); /* 聚焦时的阴影 */
}

